$color1: #cf9bff;
$ancho: 40vh;
$basecolor: #eeeeee;

#reme-1 {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.473);
    text-align: center;
}

#reme-2 {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.473);
    text-align: center;
}

#reme-3 {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.473);
    text-align: center;
}

#reme-1:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

#reme-2:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

#reme-3:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

#remes {
    text-decoration: none;
    font-family: 'Righteous', cursive;
    color: black;
}

.productos {
    height: $ancho;
    width: $ancho;
}